body {
	overflow: hidden;
	position: fixed;
	margin: 0;
	height: 100vh;
}
input:focus {
	outline: 0;
}
#calculator {
	position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
#calculator td img {
    width: 23.6vh;
}
#dashboard {
	position: absolute;
	width: 28vh;
	bottom: 4vh;
	left: 4vh;
}
.block {
	display: block;
}
.range {
	display: inline-block!important;
	width: 25.5vh!important;
}
.range.min {
	margin-right: 4vh;
}
input[type=range].slider {
	width: 55vh!important;
}
.btn-standard {
	background: #333;
	color: #888;
	margin-top: 2vh;
	padding: 1vh 2vh;
	font-size: 6vh;
	border: 0;
	border-radius: 4px;
}
.btn-standard[disabled] {
	background: #222;
}
.navigation {
	overflow-y: scroll;
	margin: 0;
	padding: 4vh;
	list-style: none;
	background: #222;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
}
.site-wrap {
	min-width: 100vw;
	min-height: 100vh;
	background: #000;
	position: relative;
	top: 0;
	bottom: 100%;
	left: 0;
	z-index: 1;
}
.nav-trigger {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}
label[for="nav-trigger"] {
	position: fixed;
	top: 4vh;
	left: 4vh;
	z-index: 2;
	width: 10vh;
	height: 10vh;
	margin: 0;
	cursor: pointer;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect fill='#888' width='30' height='6'/><rect fill='#888' y='24' width='30' height='6'/><rect fill='#888' y='12' width='30' height='6'/></svg>");
	background-size: contain;
}
.nav-trigger:checked + label {
	left: 67vh;
}
.nav-trigger:checked ~ .site-wrap {
	left: 63vh;
}
.nav-trigger + label, .site-wrap {
	transition: left 0.2s;
}
.nav-item label {
	color: #fff;
	font-size: 5vh;
}
.nav-item input, .nav-item select {
	display: block;
	width: 55vh;
	font-size: 4vh;
    padding: 2vh;
    border: 0;
    border-radius: 4px;
}
@media (min-width:961px) {
	input[type=range].slider {
		width: 23vh!important;
	}
	.range {
		width: 9.5vh!important;
	}
	#calculator td img {
		width: 12vh;
	}
	#dashboard {
		width: 100%;
	}
	.btn-standard {
		margin-top: 0;
		margin-right: 2vh;
		font-size: 4vh;
	}
	.nav-trigger:checked + label {
		left: 35vh;
	}
	.nav-trigger:checked ~ .site-wrap {
		left: 31vh;
	}
	.nav-item label {
		font-size: 3vh;
	}
	.nav-item input, .nav-item select {
		width: 23vh;
		font-size: 2vh;
		padding: 1vh;
	}
}